<?php
// Assign all MW settings here
$GLOBALS['wgSitename'] = "Media Wiki";
$GLOBALS['wgCookiePrefix'] = "iwappsol_mediawiki";//by default it is wiki DB name with DB prefix if set
// Database settings should correspond to MediaWiki settings in LocalSettings.php
// Wiki database type equals to $wgDBtype in LocalSettings.php
$GLOBALS['wgDBtype'] = "mysql";
// Wiki server equals to $wgDBserver in LocalSettings.php
$GLOBALS['wgDBserver'] = "localhost";
// Wiki database name equals to $wgDBname in LocalSettings.php
$GLOBALS['wgDBname'] = "iwappsol_mediawiki";
// Wiki database user name equals to $wgDBuser in LocalSettings.php
$GLOBALS['wgDBuser'] = "iwappsol_iwapp";
// Wiki database user password equals to $wgDBpassword in LocalSettings.php
$GLOBALS['wgDBpassword'] = "K53EdFnf@EJ6";
// Wiki database prefix equals to $wgDBprefix in LocalSettings.php
$GLOBALS['wgDBprefix'] = "";
// URL of the login page that will be used. MediaWiki login page was tested.
$GLOBALS['wgPathToLogin'] = "http://www.iwappsolutions.com/worlds10top.com/mediawiki1.23/index.php?title=Special:UserLogin";
// If false then anonymous user will be redirected to login page above
// If true then anonymous user will be allowed to access Drupal
$GLOBALS['wgAllowAnonymousBrowsingOfDrupal'] = true;
// If true will output debug logging info into php log. Keep it false for production sites.
$GLOBALS['iwDebug'] = false;
